[submodule "QuickFace-Server/external/eos"]
	path = QuickFace-Server/external/eos
	url = https://github.com/patrikhuber/eos.git
	branch = devel
[submodule "QuickFace-Server/external/superviseddescent"]
	path = QuickFace-Server/external/superviseddescent
	url = https://github.com/patrikhuber/superviseddescent.git
	branch = devel
